<!DOCTYPE html>
<html>
<head>
<title>service updates</title>
<style>

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #ddd;}

#customers tr:hover {background-color: yellow;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}
</style>
</head>
<body>

<table id="customers">
<tr>
    <th>Name</th>
    <th>Message</th>

</tr>



  {% for data in message %}
      <tr>
        <td>{{data.customer_id}}</td>
        <td>{{data.feedback}}</td>
{% endfor %}

</table>

</body>
</html>
<style>
